.fb-header{
    padding: 6px 16px;
    box-shadow: rgba(0, 0, 0, 0.10) 1.95px 1.95px 2.6px;
    background-color: #fff;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    .header-container{
        display: flex;
        align-items: center;
        
        .header-logo-content{
            display: flex;
            align-items: center;
            a {
                img{
                    width: 40px;
                }
            }
            .search-fb{
                background-color: var(--fb-bg);
                line-height: 32px;
                margin-left: 8px;
                padding: 13px 10px;
                border-radius: 20px;
                width: 68%;

                form{
                    display: flex;
                    align-items: center;

                    label{
                        display: flex;
                        align-items: center;
                    }

                    input{
                        border: none;
                        padding-left: 10px;
                        background-color: var(--fb-bg);
                        width: 100%;
                        font-size: .9375rem;
                        font-family: "Helvetica";
                        font-weight: 500;

                        &:-internal-autofill-selected  {
                            background-color: var(--fb-bg) !important;
                        }
                    }


                }
            }
        }
        .middle-container{
            width: 1200px;
            margin: 0 auto;

            .main-menu{
                width: 690px;
                margin:  0 auto;

                .main-menu-items{
                    ul{
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        li{
                            width: 100%;
                            text-align: center;
                            a{
                                display: block;
                                width: 100%;
                                text-align: center;
                                padding: 8.6px 0;
                                border-radius: 10px;

                                &:hover{
                                    background-color: var(--main-hover);

                                }
                            }
                            .active{
                                position: relative;
                                color: var(--primary-color);
                                
                                &::after{
                                    content: "";
                                    position: absolute;
                                    bottom: -8px;
                                    left: 0;
                                    width: 100%;
                                    height: 4px;
                                    background-color: var(--primary-color);
                                    border-radius: 0;
                                }

                            }
                        }
                    }
                }
            }
        }
        .user-profile-area{
            .user-future-list{
                ul{
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    gap: 8px;

                    li{
                        a{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: #E4E6EB;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            transition: all .4s ease-in-out;

                            &:hover{
                                background-color: var(--main-hover);
                            }
                            img{ 
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                
                            }
                            span{
                                position: absolute;
                                bottom: -3px;
                                right: 0;
                                width: 15px;
                                height: 15px;
                                font-size: 14px;
                                border: 2px solid #FFE;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50%;
                                background-color: #E4E6EB;
                            }
                        }
                    }
                }
            }
        }

    }
}